# App Settings
PROJECT_NAME="Smart Budget"
DEBUG=True
API_V1_STR="/api/v1"
SECRET_KEY="change_me_super_secret_key" # Сгенерируй потом длинную строку

# Database
POSTGRES_USER=admin
POSTGRES_PASSWORD=secret
POSTGRES_DB=smart_budget
POSTGRES_SERVER=db
POSTGRES_PORT=5432
# Строка подключения для SQLAlchemy
DATABASE_URL=postgresql+asyncpg://admin:secret@db:5432/smart_budget

# Redis & Celery
REDIS_URL=redis://redis:6379/0

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# External API
CURRENCY_API_KEY=your_key_here
